.location {
    width: 347px;
    height: 109px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 15px;

    background: radial-gradient(
        50% 2900.76% at 50% 53.89%,
        rgba(58, 52, 86, 0.95) 0%,
        #211e2e 100%
    );
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 90px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location .location__right-arrow,
.location .location__left-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.location .location__location-img {
    width: 70px;
    height: 70px;
}

.location .location__text {
    width: 200px;
    line-height: 17px;
    color: #fff;
    font-size: 14px;
}
