* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.container {
    width: 70%;
    height: 50%;

    display: flex;
    justify-content: space-between;
}

section.container img {
    width: 150px;
    object-fit: cover;
    border-radius: 5px;

    box-shadow: 1px 4px 27px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 27px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 27px 1px rgba(0, 0, 0, 0.75);
}

section.container img:nth-child(2) {
    width: 600px;
}
