* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    width: 1000px;
    margin: 0 auto;
}

div.cards-layout.masonry ul.list {
    list-style: none;
    margin: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1800px;
    gap: 16px;
}

div.cards-layout.masonry ul.list li.list__item {
    width: calc((100% / 3) - 16px);
}

div.cards-layout.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

div.cards-layout.flex article.card {
    width: calc((100% / 3) - 16px);
}

article.card {
    border-radius: 8px;
    border: 1.5px solid lightgrey;
    background-color: #fff;
}

article.card .card__img {
    width: 100%;
}

article.card section.content {
    padding: 20px;
    border-bottom: 2px solid lightgrey;
}

article.card footer p {
    padding: 10px 20px 10px 20px;
}
